body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel', serif;
    background-color: black;
  }


  h1{

    color:white;
    font-size: 3em;
  
  }

  side{

    color:white;
    font-size: 2em;
  }

  p {

    color: white
  }